.navbar
{
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#3a7bd5, #3a7bd5);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

#nav_point
{
    margin-left: 108px;
    margin-top: 7px;
}

#nv_search
{
    margin-left: 150px;
    border-radius: 20px;
    width: 553px;
    height: 33px;
    text-align: left;
    color: rgba(91, 90, 90, 0.33);
    font-family: SVN-Gilroy;
    background-image: url("../img/ic_timkiem.png");
    background-size: 20px;
    background-position: 520px 7px;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #525252;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.navbar_left {
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#3a7bd5, #3a7bd5);
    padding: 0px;
    min-height: 100%;
    height: 500px;
    margin-top:-20px;
    width: 260px;
}

#nv_content
{
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 18px;
    margin-left: -5px;
    color: #3a78cd;
}
.info {
    max-height: 130px;
}

.info>img {
    margin-top: 30px;
    border-radius: 50%;
    box-shadow: 0px 13px 29px 0 rgba(0, 0, 0, 0.32);
}



#loc {
    width: 175px;
    height: 35px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.49);
    background-image: url("../img/filter.png");
    background-size: 23px;
    background-position: 145px 5px;
    background-repeat: no-repeat;
    margin-top: -20px;
    margin-left: 28px;
    font-weight: bold;
}
.list-group-item {
    font-family: font/SVN-Gilroy;
    color:#323232;
    font-weight: bold;
    font-size: 19px;

}

.point {
    margin-left: 130px;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -3px;
    color: #fff
}

.name {
    text-align: center;
    margin-top: 8px;
    color: #fff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 20px
}

.mssv {
    text-align: center;
    margin-top: -8px;
    color: #fff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 15px
}


.module {

    margin-bottom: 15px;
    width: 951px;
    height: 230px;
    border-radius: 20.7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.49);

}
.module1 {

    margin-bottom: 15px;
    width: 951px;
    height: 190px;
    border-radius: 20.7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.49);

}

.info2 {
    font-family: font/SVN-Gilroy;
    font-size: 21px;
    font-weight: bold;
    line-height: 0.3;
    letter-spacing: -0.1px;
    text-align: left;
    color: #454f5c;

}





