<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/cssS3_1.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../fonts/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="https://www.facebook.com/groups/NaNa.MyTrainingPoint" target="_blank">
            <p style="color:#fff; font-family: SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="GET" role="search" >
            <div class="form-group">
                <p class="point"> <img src="../../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="../profile">Profile</a></li>
                    <li><a id="help"href="../help">Help</a></li>
                    <li><a id="doimatkhau"href="../doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='/sinhvien/profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../../img/2_avatar.png" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> LÝ ANH VŨ </p>
                <p class="mssv"> 1512683 </p>
            </div>
        </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li class"active"><a id="hoatdong" href="../hoatdong"><img src="../../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="../thamgia"><img src="../../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="../goiy"><img src="../../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="../lotrinh"><img src="../../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="../lienhe"><img src="../../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 content" style="margin-left: 36px" >
            <!-- Thông tin trợ lý sinh viên -->
           <article class="module">
                <table class="head-table" style="border-top-right-radius: 10px; border-top-left-radius: 10px; margin-top: 10px">
                    <col width="144">
                    <col width="411">
                    <col width="24">
                    <col width="105">
                    <col width="134">
                    <col width="142">
                    <col width="80">
                    <tr>
                        <th class="text-heading">Mã HĐ</th>
                        <th class="text-heading">Tên HĐ</th>
                        <th class="text-heading">DRL</th>
                        <th class="text-heading">Địa điểm</th>
                        <th class="text-heading">Thời gian</th>
                        <th><p class="text-heading" style="margin-top: 10px; margin-left: -17px">SL</p></th>
                    </tr>
                </table>
                <div id="wrapper">
                    <div class="scrollbar">
                        <div class="force-overlow"></div>
                        <table class="table">
                            <tr>
                                <td class="info2 khoa" style="background-color: #ffffff;"><%=cthd[0].MaHD%></td>
                                <td class="info2 ten" style="background-color: #ffffff;"><%=cthd[0].Ten%></td>
                                <td class="info2 email" style="background-color: #ffffff;"><%=cthd[0].SoDRLDatDuoc%></td>
                                <td class="info2 phong" style="background-color: #ffffff;"><%=cthd[0].DiaDiemToChuc%></td>
                                <td class="info2 phong" style="background-color: #ffffff;"><%=cthd[0].NgayToChuc.toLocaleDateString()%></td>
                                <td class="info2 phong" style="background-color: #ffffff;"><%=cthd[0].SoLuongThamGia%></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<SCRIPT src="../../PageManager/ChangePageManger.js"></SCRIPT>
</body>
</html>